dacy
protobuf==3.20
glob2
pandas
numpy
tensorflow
tensorboard
matplotlib
scikit-learn
datetime
tqdm
seaborn
fasttext
danlp[all]
spacy
gensim
transformers
sentence-transformers
wandb
xgboost
datasets
torch
